<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand" > <span class="glyphicon glyphicon-shopping-cart"></span>SHOP</a>
    </div>

    <ul class="nav navbar-nav">
    <app-product-menu></app-product-menu>
    </ul>
    
    <form class="navbar-form navbar-left">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/cart"  style="cursor: pointer">Cart:<span class="glyphicon glyphicon-shopping-cart"></span></a></li>

      <ng-template [ngIf]="!authService.IsActivated()">
          <li><a routerLink="/signup" ><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>
          <li><a routerLink="/signin"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
      </ng-template> 
      
      <li *ngIf="authService.IsActivated()"><a style="cursor: pointer" (click)="onLogOut()"><span class="glyphicon glyphicon-log-out"></span>LogOut</a></li>
    </ul>
  </div>
</nav> 