
<div class="filterSection">
      <app-product-filter></app-product-filter>
</div>

<div class="pdtListSection">
        <!-- <app-product-list></app-product-list> -->
        <div class="container">
              <!-- <div class="row"> -->
                    <div id="homeNav">
                     <p class="innerNav"><a href="#">Home</a></p>
                     <!-- <p class="innerNav"><a a href="#">/ Electronics</a></p>
                     <p class="innerNav"><a a href="#">/Smart phones</a></p> -->
                    </div>
             
              <!-- </div> -->
        </div>
        <router-outlet></router-outlet>
         <!-- <app-product-list></app-product-list> -->
</div>