<!-- <app-cart-item *ngFor="let cartitem of cart.cartItemList; let i=index"
[cartItem]="cartitem"
[index]="i"
[cartid]="cart.cartId"
>
></app-cart-item> -->
<div class="container">
    <div classs="row">
      <div class="col-sm-10">
        <table id="cart" class="table ">
          <thead>
            <tr>
              <th style="width:50%">Product</th>
              <th style="width:10%">Price</th>
              <th style="width:8%">Quantity</th>
              <th style="width:22%" class="text-center">Subtotal</th>
              <th style="width:10%"></th>
            </tr>
          </thead>
          <tbody>
              
            <tr app-cart-item *ngFor="let cartitem of cart.cartItemList; let i=index"
            [cartItem]="cartitem"
            [index]="i"
            [cartid]="cart.cartId">
            </tr>
            
          </tbody>
          <tfoot>
            <tr class="visible-xs">
              <td class="text-center">
                <strong>Total 1.99</strong>
              </td>
            </tr>
            <tr>
              <td>
                <a href="#" class="btn btn-warning">
                  <i class="fa fa-angle-left"></i> Continue Shopping</a>
              </td>
              <td colspan="2" class="hidden-xs"></td>
              <td class="hidden-xs text-center">
                <strong>Total $1.99</strong>
              </td>
              <td>
                <a href="#" class="btn btn-success btn-block">Checkout
                  <i class="fa fa-angle-right"></i>
                </a>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  
  </div>
  
  